body {
  overflow-x: hidden;
}

head {
  overflow-x: hidden;
}

ul {
  -webkit-padding-start: 0px;
}

.fundo {
  background: white;
}

.col-categoria {
  float: left;
}

.col-produto {
  color: black;
}

#header {
  margin: 0 auto;
  left: 10%;
  max-width: 1140px;
  padding-bottom: 10px;
}

.navbar.barra-navegacao {
  margin-bottom: 0px;
  background: #41d3fc;
}

.thumbnail {
  text-align: center;
  border: none !important;
  background: transparent !important;
}

.lista-categorias {
  list-style-type: none;
  border: 1px solid #2ab28a;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.lista-categorias:hover {
  border: 1px solid blueviolet;
}

.lista-categorias:hover a {
  color: black;
}

.lista-categorias:hover a:hover {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-size: 17px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: black;
}

.item-carrinho {
  width: 20% !important;
}

.carrinho-total {
  margin: 0px !important;
  color: #41b941;
  font-size: 24px;
  font-weight: bold;
}

.carrinho-total-texto {
  text-align: right;
  font-size: 24px;
}

.btn-continuar-comprando {
  margin: 10px 0px !important;
  background-color: orange;
  color: white;
}

.btn-pagar {
  float: right !important;
  margin: 10px 0px !important;
}

.btn-logar {
  width: 100%;
  margin: 20px 0;
}

.titulo {
  margin-top: 15px 0;
  text-align: center;
}

.navbar-opcao {
  font-size: 15px;
  font-weight: bold;
}

.navbar-user {
  margin-top: 14px;
  font-size: 15px;
  font-weight: bold;
  color: red;
}

.navbar-toggle.collapsed {
  background-color: #41d3fc;
}

.navbar-default .navbar-toggle:hover {
  background-color: #73dffd !important;
}

#pesquisar {
  width: 400px;
}

@media screen and (max-width: 768px) {
  #pesquisar {
    width: 80%;
    display: inline;
  }
}

.search {
  display: block;
}

.col-sm-6.col-md-4.col-itens {
  padding-left: 0;
}

.col-itens a {
  text-decoration: none;
  color: #000;
}

.col-itens a:hover {
  color: black;
  text-decoration: none;
}

.col-itens a.btn-comprar {
  color: white;
}

.col-itens a > p.preco {
  font-weight: bold;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

/*Tela descricao*/

.img-descricao {
  padding: 2px;
  background-color: #363636;
  box-shadow: 2px 2px 2px #363636;
  -webkit-box-shadow: 2px 2px 2px #363636;
  -moz-box-shadow: 2px 2px 2px #363636;
}

.col-descricao > .preco {
  font-size: 29px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid #e5e5e5;
  font-weight: bold;
}

.col-descricao > .descricao {
  font-size: 40px;
  border-bottom: 1px solid #e5e5e5;
}

.col-descricao > p > .btn.btn-success.btn-comprar {
  width: 300px;
  height: 50px;
  vertical-align: middle;
  font-size: 20px;
}

.col-descricao > .status {
  border-bottom: 1px solid #e5e5e5;
  color: #2ab27b;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
}

.col-descricao > .caracteristicas {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}

.col-descricao > .img-rounded.img-descricao {
  width: 800px;
  padding: 5px;
  background-color: #363636;
  box-shadow: 2px 2px 2px #363636;
  -webkit-box-shadow: 2px 2px 2px #363636;
  -moz-box-shadow: 2px 2px 2px #363636;
}

/*Tela de Pagamento*/

.parcelamento-opt {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

#footer {
  background: #41d3fc;
}

@media screen and (max-width: 768px) {
  .input-group.input-group-search {
    display: block;
  }
}

