$mobile: 768px;
$tablet: 768px;
$desktop:992px;
$large-devices:1200px;
@mixin cor-principal {
    background-image: -webkit-linear-gradient(320deg, #ff4169, #7c26f8);
    background-image: -moz-linear-gradient(320deg, #ff4169, #7c26f8);
    background-image: -o-linear-gradient(320deg, #ff4169, #7c26f8) !important;
    background-image: linear-gradient(50deg, #ff4169, #7c26f8);
}

@mixin fontes-nav($tamanho:15px) {
    font-size: $tamanho;
    font-weight: bold;
}

body {
    overflow-x: hidden;
}

head {
    overflow-x: hidden;
}

ul {
    -webkit-padding-start: 0px;
}

a {
    color: white !important;
}

.fundo {
    background: white;
}

.col-categoria {
    float: left;
}

.col-produto {
    color: black;
}

#header {
    margin: 0 auto;
    left: 10%;
    max-width: 1140px;
    padding-bottom: 10px;
}

.navbar.barra-navegacao {
    margin-bottom: 0px;
    @include cor-principal;
}

.thumbnail {
    text-align: center;
    border: none !important;
    background: transparent !important;
}

.lista-categorias {
    color: white !important;
    list-style-type: none;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    text-decoration-line: none;
    float: right;
    &:hover {
        border: 1px solid linear-gradient(50deg, #ff4169, #7c26f8);
        & a {
            color: white !important;
        }
        & a:hover {
            text-decoration-line: none;
            font-size: 17px;
            transition: 0.3s;
        }
    }
}

ul.barra-categorias {
    display: flex;
    @include cor-principal();
    width: 100%;
    margin-bottom: 0;
    margin-top: -1px;
}

.row-correcao-gutter {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

//Carrinho
#carrinho-titulo {
    float: left;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid #a923c4;
}

td, th {
    border-top: 2px solid #a923c4 !important;
    padding: 4px 8px;
    vertical-align: middle !important;
}

tbody tr:nth-child(even) td {
    background-color: #eee;
}

div.tabela th {
    padding: 8px;
    font-size: 14px;
    background: #a923c4;
    color: white;
}

div.tabela tfoot {
    background-color: #79178f;
    color: white;
}
@media screen and (max-width: 768px) {
	div.tabela {
		overflow-x: auto;
		display: block;
	}
}

.alert {
    float: right;
    margin-bottom: 0 !important;
    width: 40%;
}

a.btn.btn-link {
    color: #3097D1 !important;
    &:hover{
        color: #216a94 !important;
    }
}

.carrinho-vazio {
    //border: 2px solid rgb(229, 229, 229);
    //padding: 5px;
    margin-bottom: 5px;
    & h1 {
        color: #a923c4;
    }
}

a.carrinho-icone{
    color: #3097D1 !important;
    font-size: 16px;
    &:hover{
        color: #216a94 !important;
    }
}

.carrinho-qtd {
    font-size: 20px;
}

.carrinho-total {
    margin: 0px !important;
    color: rgb(65, 185, 65);
    font-size: 18px;
    font-weight: bold;
    text-align: left !important;
}

.carrinho-total-texto {
    font-size: 18px;
}

.btn-continuar-comprando {
    margin: 5px 0px !important;
    background-color: orange;
    color: white;
}

.btn-pagar {
    margin-top: 5px;
    margin-bottom: 5px !important;
}

.alert-success {
    display: none;
}

.alert-danger {
    display: none;
}

.botoes-carrinho{
    text-align: center !important;

}

// .linha-carrinho { // PROVAVELMENTE REMOVER ESTA CLASSE...
//     vertical-align: middle !important;
//     font-size: 16px;
//     border-bottom: 1px solid rgb(221, 221, 221);
//     //padding: 10px 0;
//     padding: 8px !important; 
//     border: 1px solid lightgrey;
//     &.botoes-carrinho {
//         text-align: center !important;
//     }
// }
// ===========

//Tabela produtos na dashboard
// .item-carrinho-produtos { // PROVAVELMENTE REMOVER ESTA CLASSE...
//     padding: 8px;
//     font-size: 20px;
//     background: #a923c4;
//     color: white;
//     &.glyphicon {
//         display: table-cell;
//         top: 0;
//         text-align: center;
//     }
// }

th.glyphicon {
    padding: 8px;
    font-size: 20px;
    background: #a923c4;
    color: white;
    display: table-cell;
    top: 0;
    text-align: center;

}

.table-hover {
    & td:first-child{
        text-align: center;
    }
    // &.table-produtos tr:hover { // PROVAVELMENTE REMOVER ESTA CLASSE...
    //     background: rgb(237, 237, 237) !important;
    //     transition: 0.1s;
    // }
}

.btn-editar {
    margin: 5px;
    text-align: center !important;
    color: darkorange !important;
    border: 2px solid darkorange !important;
    &:hover {
        color: white !important;
        background: darkorange !important;
        transition: 0.3s;
    }
}

.btn-deletar {
    margin: 5px;
    background: white !important;
    color: darkred !important;
    border: 2px solid darkred !important;
    &:hover {
        color: white !important;
        background: darkred !important;
        transition: 0.2s;
    }
}
//================

//Tela editar produto
#descricao {
    resize: none;
}

//Adicionar/Editar produto
.botao-geral {
    font-size: 16px !important;
    font-weight: bold !important;
}
//=================

.btn-logar {
    width: 100%;
    margin: 20px 0;
}

.titulo {
    margin-top: 15px 0;
    text-align: center;
}

.navbar-opcao {
    @include fontes-nav;
}

.navbar-user {
    margin-top: 14px;
    @include fontes-nav;
    color: red
}

.navbar-toggle.collapsed {
    @include cor-principal();
}

.navbar-default .navbar-toggle:hover {
    @include cor-principal();
}

#pesquisar {
    width: 400px;
    @media screen and(max-width: $mobile) {
        & {
            width: 80%;
            display: inline;
        }
    }
}

.search {
    display: block;
}

.btn-default.btn-search {
    background: transparent;
    color: white;
}

.input-search {
    opacity: 0.8;
}

.col-sm-6.col-md-4.col-itens {
    padding-left: 0;
}

.col-itens a {
    text-decoration: none;
    color: #000;
    &:hover {
        color: black;
        text-decoration: none;
    }
    &.btn-comprar {
        color: white;
    }
    &>p.preco {
        font-weight: bold;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif
    }
}


/*Tela descricao*/

.img-descricao {
    padding: 2px;
    background-color: #363636;
    box-shadow: 2px 2px 2px #363636;
    -webkit-box-shadow: 2px 2px 2px #363636;
    -moz-box-shadow: 2px 2px 2px #363636;
}

.col-descricao {
    &>.preco {
        font-size: 29px;
        font-family: Arial, Helvetica, sans-serif;
        border-bottom: 1px solid #e5e5e5;
        font-weight: bold;
    }
    &>.descricao {
        font-size: 40px;
        border-bottom: 1px solid #e5e5e5;
    }
    &>p>.btn.btn-success.btn-comprar {
        width: 300px;
        height: 50px;
        vertical-align: middle;
        font-size: 20px;
    }
    &>.status {
        border-bottom: 1px solid #e5e5e5;
        color: #2ab27b;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 18px;
    }
    &>.caracteristicas {
        color: red;
        font-weight: bold;
        text-transform: uppercase;
    }
    &>.img-rounded.img-descricao {
        width: 800px;
        padding: 5px;
        background-color: #363636;
        box-shadow: 2px 2px 2px #363636;
        -webkit-box-shadow: 2px 2px 2px #363636;
        -moz-box-shadow: 2px 2px 2px #363636;
    }
}


/*Tela de Pagamento*/

.parcelamento-opt {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

#footer {
    @include cor-principal();
}

@media screen and(max-width:$mobile) {
    .input-group.input-group-search {
        display: block;
    }
}