ul {
  -webkit-padding-start: 0px;
}

.fundo {
  background: white;
}

.col-categoria {
  float: left;
}

.col-produto {
  color: black;
}

#header {
  margin: 0 auto;
  left: 10%;
  max-width: 1100px;
  padding-bottom: 10px;
}

.navbar.barra-navegacao {
  margin-bottom: 0px;
  background: #aaf7d6;
}

#footer {
  background: #aaf7d6;
}

.thumbnail {
  text-align: center;
  border: none !important;
  background: transparent !important;
}

.lista-categorias {
  list-style-type: none;
  border: 1px solid #2ab28a;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
  text-decoration-line: none;
}

.lista-categorias:hover {
  border: 1px solid blueviolet;
}

.lista-categorias a:hover {
  text-decoration-line: none;
  font-size: 17px;
  transition: 0.3s;
}

.lista-categorias a {
  color: black;
}
