.col-categoria {
  background: white;
}

.col-produto {
  background: gray;
  color: white;
}

#header {
  margin: 0 auto;
  left: 10%;
  max-width: 1100px;
}

.navbar.barra-navegacao {
  margin-bottom: 0px;
  background: yellow;
}
