.fundo {
  background: #d9fbec;
}

.col-categoria {
  background: white;
}

.col-produto {
  background: gray;
  color: white;
}

#header {
  margin: 0 auto;
  left: 10%;
  max-width: 1100px;
  padding-bottom: 10px;
  -webkit-border-radius: 50px;
  -moz-border-radiu: 50px;
}

.navbar.barra-navegacao {
  margin-bottom: 0px;
  background: #aaf7d6;
}

#footer {
  background: #aaf7d6;
}
