$primary-color: #aaf7d6;
@mixin bordar-arredonda($val:50px) {
    -webkit-border-radius: $val;
    -moz-border-radiu: $val;
}

.col-categoria {
    background: white;
}

.col-produto {
    background: gray;
    color: white;
}

#header {
    margin: 0 auto;
    left: 10%;
    max-width: 1100px;
    padding-bottom: 10px;
    @include bordar-arredonda;
}

.navbar.barra-navegacao {
    margin-bottom: 0px;
    background: $primary-color;
}