$primary-color: #aaf7d6;
$secundary-color: lighten($primary-color, 10%);
@mixin fontes-nav($tamanho:15px) {
    font-size: $tamanho;
    font-weight: bold;
}

body {
    overflow-x: hidden;
}

head {
    overflow-x: hidden;
}

ul {
    -webkit-padding-start: 0px;
}

.fundo {
    background: white;
}

.col-categoria {
    float: left;
}

.col-produto {
    color: black;
}

#header {
    margin: 0 auto;
    left: 10%;
    max-width: 1140px;
    padding-bottom: 10px;
    overflow-x: hidden;
}

.navbar.barra-navegacao {
    margin-bottom: 0px;
    background: $primary-color;
}

#footer {
    background: $primary-color;
}

.thumbnail {
    text-align: center;
    border: none !important;
    background: transparent !important;
}

.lista-categorias {
    list-style-type: none;
    border: 1px solid #2ab28a;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    text-decoration-line: none;
    &:hover {
        border: 1px solid blueviolet;
        & a {
            color: black;
        }
        & a:hover {
            text-decoration-line: none;
            font-size: 17px;
            transition: 0.3s;
        }
    }
}

.btn-logar {
    width: 100%;
    margin: 20px 0;
}

.titulo {
    margin-top: 15px 0;
    text-align: center;
}

.navbar-opcao {
    @include fontes-nav;
}

.navbar-user {
    margin-top: 14px;
    @include fontes-nav;
    color: red
}